$button-background: lighten(#383769, 15%);
$button-font-color: #fff;
$logout-button-background: #a8a8a8;
$main-font-color: #383769;

.balance-index {
  &__table-container {
    margin: 30px 50px;
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  &__title {
    color: $main-font-color;
    margin: 0;
  }

  &__total-balance {
    color: $main-font-color;
  }

  &__action {
    background-color: $button-background;
    padding: 5px 10px;
    border-radius: 5px;

    &--logout {
      background-color: $logout-button-background;
    }

  }

  &__action,
  &__action:visited,
  &__action:hover {
    text-decoration: none;
    color: $button-font-color;
  }

  &__table {
    width: 100%;
    table-layout: fixed;
    text-align: left;
    margin-top: 40px;
    color: $main-font-color;
  }

  &__table-header {
    &--fixed-right {
      text-align: right;
    }

    &--fixed-width {
      width: 40%;
    }
  }

  &__table-info {
    &--fixed-right {
      text-align: right;
    }
  }

  &__message {
    text-align: center;
  }

}
