/* eslint-env jquery */

$('#withdrawal-modal-holder').modal('hide');
$('#products-index-table-container').prepend('<div class="alert alert-success"> Solicitud de retiro enviada </div>');
$('#balance-index-table-container').prepend('<div class="alert alert-success"> Solicitud de retiro enviada </div>');
