/* eslint-env jquery */

$('#withdrawal-modal-holder').modal('hide');
$('#products-index-table-container').prepend('<div class="alert alert-danger"> Hash inválido </div>');
$('#balance-index-table-container').prepend('<div class="alert alert-danger"> Hash inválido </div>');
