.invoice {
  font-size: 18px;
  padding: 10px;
  max-height: 450px;
  margin: auto;
  overflow: scroll;
  top: 50px;
  position: relative;
  display: flex;
  border-top: 1px solid #eee;

  &__title {
    height: 28px;
    color: #383769;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.6px;
    line-height: 28px;
    margin-top: 0;
  }

  &__resume {
    flex: 1 0 0;
    padding: 10px;
    text-align: left;
  }

  &__info {
    flex: 1 0 0;
    margin: 0 auto;
  }

  &__status {
    padding: 10px 20px;
    border-radius: 20px;
    background: #fabc13;
    color: white;

    &--paid {
      background: #00b1b3;
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
