$border-color: #eee;
$title-color: #383769;
$alt-color: #ff4343;
$default-color: #676775;

.resume {
  height: 100vh;
  z-index: 10;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 18px 17px 0 #E4EBFF;

  &__container {
    background: white;
    border-left: 1px solid $border-color;
    width: 40vw;
    padding: 10px 0;
    height: calc(100vh - 20px);
  }

  &__title {
    height: 38px;
    color: #383769;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1.37px;
    line-height: 53px;
    text-align: left;
    margin: 20px auto 38px 20px;
  }

  &__product-list {
    width: 90%;
    margin: 0 auto;
  }

  &__product {
    display: flex;
    padding: 5px 0;
    text-align: left;
    height: 28px;
    color: #676775;
    font-size: 16px;
    letter-spacing: 0.53px;
    line-height: 28px;
  }

  &__product--title {
    color: rgba(255,67,67,0.63);
    text-transform: uppercase;
  }

  &-product__price {
    flex: 20% 1 1;
  }

  &-product__name {
    flex: 60% 1 1;
  }

  &-product__total {
    flex: 20% 1 1;
    font-size: 14px;
    text-align: right;
  }

  &-total {
    color: #FF4343;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    position: relative;
    text-align: left;
    font-weight: bold;
    padding: 20px;
  }

  &-total__value {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}
