$border-color: #eee;

.resume {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  border-left: 1px solid $border-color;
  background:  rgba(0, 0, 0, .3);

  &__close {
    font-size: 22px;
    text-align: right;
  }

  &__container {
    background: white;
    border-left: 1px solid $border-color;
    width: 400px;
    padding: 20px 10px;
    height: 100vh;
    position: relative;
    left: calc(100% - 420px);
  }

  &__product-list {
    width: 90%;
    margin: 0 auto;
  }

  &__product {
    border-bottom: 1px solid $border-color;
    display: flex;
    padding: 5px 0;
  }

  &-product__image {
    flex: 20% 1 1;
  }

  &-product-image__image {
    height: 50px;
    text-align: center;
  }

  &-product__name {
    flex: 55% 1 1;
  }

  &-product__total {
    flex: 25% 1 1;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
  }

  &-actions__info {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    text-align: right;
  }
}

.slide-fade-enter-active {
  transition: all 1s;
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
