@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700');
$primary-color: #fabc13;
$font-color: #fff;
* {
  font-family: 'Poppins', sans-serif;
}

.btn {
  text-align: center;
  margin: 0 10px;
  display: block;
  padding: 5px;
  border: 1px solid $primary-color;
  border-radius: 4px;
  background: $primary-color;
  font-weight: bold;
  font-size: 14px;
  color: $font-color;

  &--hash {
    word-break: break-word;
  }
}
