<div class="main-page welcome-page">
	<div class="welcome-page__options-container options-container">
		<a href=<%="#{new_user_registration_path}"%> class="options-container__option-button options-container__option-button--register">
			Regístrate para vender!
		</a>
		<a href=<%="#{buy_path}"%> class="options-container__option-button options-container__option-button--buy">
			Ve el catálogo para comprar!
		</a>
	</div>
</div>