$navbar-item-font: #5356dc;
$navbar-item-hover: #080a1a;
$navbar-title-font: #10123f;
$navbar-background-color: #fff;

.navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: $navbar-background-color;
  padding: 8px 5px;

  &__title {
    font-size: 24px;
    align-self: flex-start;
    color: $navbar-title-font;

    &:hover {
      text-decoration: none;
    }
  }

  &__link {
    font-size: 16px;
    margin-top: 2px;

    &--right {
      margin-left: auto;
      color: $navbar-item-font;
    }

    &:hover {
      color: $navbar-item-hover;
    }
  }

  &__link,
  &__title {
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
  }

}
