@import 'refreshments/theme';
@import 'refreshments/product';
@import 'refreshments/header';
@import 'refreshments/resume';
@import 'refreshments/invoice';

.app {
  min-height: calc(100vh - 56px);
  background: white;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;

  h2 {
    font-size: 3em;
  }
}
