@import 'refreshments/theme';
@import 'refreshments/product';
@import 'refreshments/header';
@import 'refreshments/resume';
@import 'refreshments/invoice';

.app {
  min-height: calc(100vh - 56px);
  background: white;
  max-width: 1024px;
  margin: 0 auto;
}
